<h2>Employees-Details List</h2>
<div class="table-responsive">
<table class="table table-condensed">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Subject</th>
    <th>Message</th>
  </thead>
  <tbody>
    <tr class="info" *ngFor="let employee of employees">
      <td class="">{{employee.contact_name}}</td>
      <td class="">{{employee.contact_email}}</td>
      <td class="">{{employee.contact_phone}}</td>
      <td class="">{{employee.contact_subject}}</td>
      <td class="">{{employee.contact_message}}</td>
  </tr>
</tbody>
</table>
</div>